body {
  background-color: #22272e;
  margin: auto;
}
header {
  background-color: black;
  margin: auto;
  padding: 100px;
  text-align: center;
}
nav {
  background-color: #555;
  max-width: 1200px;
  margin: auto;
  margin-top: 15px;
  padding: 2px;
  opacity: 0.9;
}
main {
  max-width: 1200px;
  margin: auto;
  padding-left: 10px;
  color: #b8b8b8;
}
footer {
  margin: auto;
  padding-left: 10px;
}
#github_link {
  float: right;
  color: white;
  padding: 20px;
  padding-right: 30px;
  font-size: 16px;
  text-decoration: none;
}
#headline {
  font-size: 50px;
  color: white;
  text-decoration: none;
}
.menu_element {
   margin: 15px;
   color: white;
   font-size: 20px;
   text-decoration: none;
}
.menu_focus {
  font-weight: 1000;
}
#go_top {
  background-color: #3d5c5c;
  border: 0px;
  float: right;
  margin: 10px;
  font-size: 20px;
  color: white;
}