body {
  background-color: #22272e;
  margin: auto;
}
header {
  background-color: black;
  margin: auto;
  padding: 100px;
  text-align: center;
}
nav {
  background-color: #30343c;
  max-width: 1200px;
  margin: auto;
  margin-top: 12px;
  padding: 2px;
  opacity: 0.9;
  border-radius: 10px;
}
main {
  max-width: 1200px;
  margin: auto;
  padding-left: 10px;
  color: #b8b8b8;
}
footer {
  margin: auto;
  padding-left: 10px;
}
hr {
  height: 3px;
  border-width:0;
  background-color: #30343c;
  color: #30343c;
}
#github_link {
  float: right;
  color: white;
  padding: 20px;
  padding-right: 30px;
  font-size: 16px;
  text-decoration: none;
}
#headline {
  font-size: 50px;
  color: white;
  text-decoration: none;
}
.menu_element {
  margin: 15px;
  color: #b8b8b8;
  font-size: 20px;
  text-decoration: none;
}
.menu_focus {
  color: #d9d9d9;
}
#go_top {
  background-color: #30343c;
  border: 0px;
  float: right;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  font-size: 20px;
  color: #b8b8b8;
}