body {
  background-color: #22272e;
  color: #b8b8b8;
}

#headline {
  background-color: black;
  margin: -10px;
  padding: 50px;
  text-align: center;
}

#menu_list {
  background-color: #555;
  opacity: 0.7;
  padding: 2px;
  margin-top: 15px;
 }

 .nav_list {
   margin: 15px;
   color: white;
   font-size: 20px;
   text-decoration: none;
 }

#headline_title {
  text-decoration: none;
  font-size: 50px;
  color: white;
}

#go_top {
  background-color: #3d5c5c;
  border: 0px;
  float: right;
  margin: 10px;
  font-size: 20px;
  color: white;
}
