body {
  background-color: #22272e;
  color: #b8b8b8;
}

#headline {
  background-color: black;
  margin: -10px;
  padding: 50px;
  text-align: center;
}

#headline_title {
  text-decoration: none;
  font-size: 40px;
  color: white;
}

#go_top {
  background-color: cornflowerblue;
  border: 0px;
  float: right;
  margin: 10px;
  font-size: 20px;
  font-style: italic;
}
