.blocks {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  margin: 30px;
  background-color: #666;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  text-align: center ;
  font-size: 30px;
}
.block_focus {
  background-color: #888;
  color: black;
}
.block_element { 
  text-decoration: none; 
  color: #b8b8b8;
}
#block_div::after {
  content: "";
  display: table;
  clear: both;
}
