body {
  background-color: #22272e;
  color: #b8b8b8;
}

#headline {
  background-color: black;
  margin: -10px;
  padding: 50px;
  text-align: center;
}

#menu_list {
  background-color: #555;
  opacity: 0.7;
  padding: 2px;
  margin-top: 15px;
 }

 .menu_element {
   margin: 15px;
   color: white;
   font-size: 20px;
   text-decoration: none;
 }

#headline_title {
  text-decoration: none;
  font-size: 50px;
  color: white;
}

.block_list {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  margin: 30px;
  background-color: #555;
  width: 200px;
  height: 150px;
  text-align: center ;
  font-size: 30px;
}

.block_element { 
  text-decoration: none; 
  color: #b8b8b8;
}

#block_div::after {
  content: "";
  display: table;
  clear: both;
}

#go_top {
  background-color: #3d5c5c;
  border: 0px;
  float: right;
  margin: 10px;
  font-size: 20px;
  color: white;
}
